<div class="main-container">
  <h1>Aleatory Groups</h1>
  <div>
    <input type="text" [(ngModel)]="name">
    <button (click)="saveName()">
      Add person
    </button>
  </div>
  <div>
    <input type="number" [(ngModel)]="numberOfGroups">
    <button (click)="process()">
      Process
    </button>
  </div>
  <div style="display:flex; justify-content: space-around;">
    <div style="display: flex; flex-direction: column; margin: 40px;">
      <span><u>People</u></span>
      <ul *ngFor="let person of people" style="list-style: none; padding: 0;">
        <li>{{person}}</li>
      </ul>
    </div>
    <div style="display: flex; flex-direction: column; margin: 40px;">
      <span><u>Groups</u></span>
      <ul *ngFor="let person of shuffledPeople" style="list-style: none; padding: 0;">
        <li >{{person}}</li>
      </ul>
    </div>
  </div>
  
</div>